table {
    border: 1px solid;
    border-collapse: collapse;
    height: 400px;
    width: 900px;
    background-color: lightblue;
}
thead,tr,th,td,tbody{
    border: 1px solid;
    border-collapse: collapse;
    width: 150px;
    text-align: center;
    height: 60px;
}
thead{
    height: 60px;
}
input[type="text"] {
    height: 40px;
    margin-bottom: 10px;
    background-color: lightblue;
}
div#root {
    margin-left: 250px;
    margin-top: 100px;
}